prcs
prcs.info
prjlex.c
vclex.c
docs.cc
libgnu/libgnu.a
libgnu/arg-nonnull.h
libgnu/c++defs.h
libgnu/warn-on-use.h
configmake.h
charset.alias
ref-add.sed
ref-del.sed
alloca.h
errno.h
float.h
fnmatch.h
stdbool.h
stddef.h
stdint.h
stdio.h
string.h
wchar.h
wctype.h
**/sys/types.h
Makefile
config.status
config.h
Makefile.in
config.h.in
configure
aclocal.m4
stamp-*
.deps
*.elc
*.trs
*.log
*.o
*.cache
*.rej
*.orig
*~
