Source: prcs
Section: devel
Priority: optional
Maintainer: Rafael Laboissiere <rafael@debian.org>
Standards-Version: 3.5.6
Build-Depends: debhelper (>= 2.0.72), perl, flex, rcs

Package: prcs
Architecture: any
Depends: rcs, ${shlibs:Depends}
Suggests: prcs-el, prcs-synch
Description: The Project Revision Control System
 PRCS, the Project Revision Control System, is the front end to a set
 of tools that (like CVS) provide a way to deal with sets of files and
 directories as an entity, preserving coherent versions of the entire
 set.
 .
 Its purpose is similar to that of SCCS, RCS, and CVS, but (according
 to its authors, at least), it is much simpler than any of those
 systems.
 .
 Emacs-Lisp support is distributed in a separate package, prcs-el.  Another
 package called prcs-synch contains a tool to synchronize PRCS projects
 between repositories, both locally and remotely.
 .
 For further information look at
     http://prcs.sourceforge.net

Package: prcs-el
Architecture: all
Depends: prcs, emacs21 | xemacs21 | emacsen
Conflicts: prcs (<< 1.2.14)
Description: ELisp support for the Project Revision Control System
 This package contains Emacs-Lisp add-on support for PRCS, the Project
 Revision Control System.  It provides a useful interface for some
 PRCS commands (checkin, diff, info, and rekey) while editing project
 descriptor files (.prj).
 .
 prcs-el is distributed separately from the prcs package because it depends
 on Emacs (or another "emacsen" flavor).

Package: prcs-synch
Architecture: all
Depends: ${perl:Depends}, prcs, textutils (>= 2.0-10)
Suggests: ssh
Conflicts: prcs (<< 1.2.15-1)
Description: Synchronize PRCS projects between repositories
 The prcs-synch script tries to synchronize two PRCS (Project Revision
 Control System) repositories. It requires a "remote" repository, which is
 assumed  to have recent changes, vs. a "local" repository which is out of
 date.

Package: prcs-visualtree
Architecture: all
Depends: ${perl:Depends}, prcs, vcg
Description: Visualize PRCS projects in a graph
 Scripts to show PRCS (Project Revision Control System) version tree as a
 graph using VCG (a visualization tool for compiler graphs).

Package: prcs-utils
Architecture: all
Depends: ${perl:Depends}, prcs
Description: Utilities for PRCS
 Some utilities to be used in combination with PRCS (Project Revision
 Control System).  Contains the following scripts: prcspatch, prcspatch2,
 prcsfind, prcsbranches, prcsguess, prcsentry, prcsstatus, and
 prcs_checkfiles.
