#!/usr/bin/make -f
# -*- Makefile -*-
#
# File: rules
# Description: debian/rules file for the prcs package
# Author: Rafael Laboissiere <rafael@debian.org>
#         (with help from Samuel Tardieu <sam@debian.org>)
# Created on: Thu Nov  5 15:42:22 CET 1998
# $Id$

include /usr/share/dpatch/dpatch.make

package		= prcs

# The following scheme for definitions was stollen from the Debian
# octave package by Dirk Eddelbuetel <dirk@debian.org>
debbase		:= $(shell pwd)/debian
debtmp		:= $(debbase)/tmp
debusr 		:= $(debtmp)/usr
debbin 		:= $(debusr)/bin
debshr 		:= /usr/share
debman		:= $(debshr)/man
debinf		:= $(debshr)/info
deblsp		:= /usr/share/emacs/site-lisp/$(package)
debema		:= $(debusr)/lib/emacsen-common/packages
debetc		:= $(debtmp)/etc
debest		:= $(debetc)/emacs/site-start.d/
debhtml		:= $(debbase)/html
contribdir	:= contrib
contrib_perl    := contrib/misc/prcs-clean \
                   contrib/misc/prcs-synch \
                   contrib/prcsstatus/prcsstatus \
                   contrib/prcsutils/prcsbranches \
                   contrib/prcsutils/prcs_checkfiles \
                   contrib/prcsutils/prcsentry \
                   contrib/prcsutils/prcsfind \
                   contrib/prcsutils/prcsguess \
                   contrib/prcsutils/prcspatch \
                   contrib/prcsutils/prcspatch2 \
                   contrib/visualtree/prcs_tree_info.pl \
                   contrib/visualtree/prcs_tree_draw \
                   contrib/prcs-move/prcs-mv \
                   contrib/prcs-move/prcs-what-may-move \
                   contrib/prcs-move/prcs-ttyask-move \
                   contrib/prcs-move/prcs-assist-move \
                   emacs/prcs-callback \
                   emacs/prcs-emerge \
                   emacs/prcs-ediff
contrib_sh      := contrib/rprcs/rprcs \
                   contrib/javadoc/prcs-javadoc \
                   contrib/visualtree/prcs-show-tree \

autotools-stamp:
	-rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess
	touch autotools-stamp
				
				
build: build-stamp
build-stamp: patch-stamp autotools-stamp
	dh_testdir

	./configure --prefix=/usr --disable-environment --disable-debug \
	    --disable-lex-check

# Use EMACS=no on the command line to avoid useless compilation of
# .elc files
	make EMACS=no
	( cd $(contribdir)/misc ; pod2man prcs-synch > prcs-synch.1 )
	( cd $(contribdir)/prcsstatus ; docbook2man prcsstatus.sgml )
	( cd $(contribdir)/prcs-move ; docbook2man prcs-move.sgml )
	( cd $(contribdir)/prcsutils ; docbook2man prcs-utils.sgml )
	makeinfo --html --output $(debhtml) doc/prcs.texi
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot

	-rm -f config.sub config.guess	
	rm -f build-stamp install-stamp autotools-stamp

	-patch -p0 --force --reverse < debian/rebuild.cc-patch
	-patch -p0 --force --reverse < debian/prcserror.cc-patch
	if [ -f Makefile ]; then make distclean; fi

	rm -rf $(debhtml)
	( cd $(contribdir) ; \
	  rm -f misc/prcs-synch.1 prcsutils/prcs-utils.1 \
                prcs-move/prcs-move.1 prcsstatus/prcsstatus.1 ; \
          find . -name manpage.\* | xargs rm -f )

	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	make install EMACS=no DESTDIR=$(debtmp) lispdir=$(deblsp) \
	  mandir=$(debman) infodir=$(debinf)
	( cd $(debtmp)/$(deblsp) ; rm -f *.elc )
	chmod +x $(debbase)/fix-perl-path.pl
	for i in $(contrib_perl) ; do \
          install -c --mode=0755 $$i $(debbin)/`basename $$i .pl` ; \
          $(debbase)/fix-perl-path.pl $(debbin)/`basename $$i .pl` ; \
	done ;\
	for i in $(contrib_sh) ; do \
          install -c --mode=0755 $$i $(debbin) ; \
        done
	install --mode=644 contrib/misc/bash-completion \
	  $(debetc)/bash_completion.d/prcs

	dh_installman -A
	dh_movefiles -i

# Do this hack until Bug#17111 is fixed - R.L.
	( cd $(debtmp) ; rm -rf usr/lib usr/share/emacs )
	touch install-stamp

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installemacsen -i
	dh_installchangelogs -i emacs/1.60.log
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installexamples -a contrib/example/* -XCVS
	dh_installchangelogs -a ChangeLog
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_makeshlibs -a
	dh_md5sums -a
	dh_builddeb -a

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
